* {
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.container-fluid {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 30px;
  a {
    display: flex;
    align-items: center;
    justify-self: center;
    h1 {
      margin: 10px 0;
      color: gray;
    }
  }
}

.movie-item {
  display: flex;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #000;
  box-shadow: gray;

  .movie-info {
    display: block;
    padding: 7px;
    margin-left: 10px;
  }

  .movie-poster img {
    width: 200px;
    height: 200px;
  }
}

.movie-item:hover {
  box-shadow: 1px 20px 72px 6px rgba(0,0,0,0.62);
  transition: box-shadow .1s linear;
  cursor: pointer;
}

.filters {
  display: flex;
  margin: 10px;
  justify-content: space-evenly;
}

.movie-more-container {
  display: flex;
  padding: 20px;
}

.movie-poster-more {
  padding: 10px;
}

.movie-info {
  padding: 10px;
}

.movie-poster-more img {
  width: 200px;
  height: 200px;
}

#Capa_1 {
  width: 100px;
  padding: 10px;
  margin: 0 10px;
}